{% extends 'basepage.html' %}
{% load widget_tweaks %}

{% block title %}Téléverser un examen{% endblock title %}

{% block head_css_page %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/css/fileinput.min.css" integrity="sha256-nDOFy4ryARCIxp1SMEp7+mGQZd7V74BnsrcDfV92qD8=" crossorigin="anonymous" />
{% endblock head_css_page %}

{% block footer_javascript_page %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/js/fileinput.min.js" integrity="sha256-GBUytoUcXSrI5Au33Zprj748mHKuNSB+xkRgjAGIiN0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/js/locales/fr.min.js" integrity="sha256-iDWLhJfQBVgfaIOuxknHsuyx53OL3dG9rWz8BAJyJ50=" crossorigin="anonymous"></script>
<script>$("input").fileinput({
  maxFileCount: 10,
  maxFileSize: 20480,
  validateInitialCount: true,
  language: "fr",
  dropZoneTitle: "Glisser-déposer le(s) fichiers ici..."
});</script>
{% endblock footer_javascript_page %}

{% block content %}

  <h1 class="my-5 text-center">Rendre un examen</h1>

  {% include 'messages.html' %}

  <form method="post" class="my-5" style="font-size: 120%;" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="form-group">
    {% if field.field.widget.input_type != 'file' %}
      <label for="{{ field.id_for_label }}" class="form-label-lg">{{ field.label }}</label>
    {% endif %}
    {% if form.is_bound %}
      {% if field.errors %}
        {% render_field field class="form-control form-control-lg is-invalid" %}
        {% for error in field.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% else %}
        {% render_field field class="form-control form-control-lg is-valid" %}
      {% endif %}
    {% else %}
      {% render_field field class="form-control form-control-lg" %}
    {% endif %}
    {% if field.help_text %}
      <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
    </div>
    {% endfor %}
    <hr class="mb-4">
    <button id="button" class="btn btn-primary btn-lg btn-block" type="submit">Envoyer</button>
  </form>

{% endblock %}
