<html lang="fr">
<head>
  <meta charset=utf-8>
  <meta name="robots" content="noarchive">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Téléversement de fichiers">
  <meta name="author" content="Julien Guillod">
  <title>{% block title %}Home{% endblock title %}</title>
  {% block head_css %}
    {% block head_css_site %}
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock head_css_site %}
    {% block head_css_page %}{% endblock head_css_page %}
  {% endblock head_css %}
  </head>
<body>
  {% if user.is_authenticated %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Examens</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'list' %}">Fichiers rendus</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.first_name }} {{ user.last_name }}</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown">
          {% if user.is_staff %}<a class="dropdown-item" href="{% url 'admin:index' %}">Administration</a>{% endif %}
          <a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}">Déconnexion</a>
        </div>
      </li>
    </ul>
  </div>
  </nav>
  {% endif %}
  <div class="container">
    {% block content %}
      error
    {% endblock %}
  </div>

  {% block footer_javascript %}
    {% block footer_javascript_site %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock footer_javascript_site %}
    {% block footer_javascript_page %}{% endblock footer_javascript_page %}
  {% endblock footer_javascript %}

</body>
</html>
